# Built with https://github.com/rollchains/spawn
configs/logs.json
dist/
build/
testnet/*/binary
contracts-tmp/
*node_modules
push-chain-interop-contracts/



# Create cosmos app
web/

.env

universalClient/coverage.out
*.db
*.db-shm
*.db-wal
