# Built with https://github.com/rollchains/spawn
configs/logs.json
dist/
build/
testnet/*/binary

# Create cosmos app
web/

.env
.DS_Store
/push-validator-manager-go/.gocache
push-validator-manager-go/push-validator-manager
/push-validator-manager-go/.gomodcache

universalClient/coverage.out
*.db
*.db-shm
*.db-wal
