# ENV files is required to run test cases

  

  

  

## EVM and Solana- Make sure this pk has funds on the selected network - otherwise some tests would be skipped

  

  

EVM_PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80

  

  

EVM_RPC=http://localhost:9545

  

  

SOLANA_RPC_URL=http://localhost:8899

  

  

SOLANA_PRIVATE_KEY=48sPd9RUgvzbv3poq9jhbh4afHcHK7SxTuAUdjTeeM28TFc1SCpgtDCf3ofx6virpG5XNCrZsMnzKaZiHiK2HTuB

  

  

PUSH_PRIVATE_KEY=0x0dfb3d814afd8d0bf7a6010e8dd2b6ac835cabe4da9e2c1e80c6a14df3994dd4

  

SOLANA_PRIVATE_KEY_HEX=9cd634e2658dbb7f50e6a384290be1a25176f2d5d573ca4a618d050aae8555e0b70a8fd48e67c72bee2fecc759da24758c81c3083cb25d8456c88238fb9deb8a




