name: Unit tests
on:
  push:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  GO_VERSION: 1.22.3

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Check out source
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
          check-latest: true

      - name: Install Rust (for dkls23-rs dependency)
        uses: dtolnay/rust-toolchain@stable

      - name: Setup dkls23-rs
        uses: ./.github/actions/setup-dkls23
        with:
          ci_token: ${{ secrets.CI_DKLS_GARBLING }}

      - name: Tests
        run: make test
